@charset "UTF-8";
body{
    background-color: lightblue;
    text-align: center;
    
}
main{
    background-color: lightgray;
    width: 50%;
    margin: auto;
    line-height:3em;
    border-radius: 50px 0 50px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.363);
}
select{
    display: block;
    margin: auto;
    width: 200px;

}