@charset "UTF-8";

body{
    background-color: rgb(8, 117, 117);
    text-align: center;
    color: aliceblue;
}
section{ 
    color: black;
    background-color: white;
    width: 50%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow:0 0 10px;
    padding: 10px;

}
input{
    width: 30%;
    display: block;
    margin: 10px auto;
}