@charset "UTF-8";

body{
    background-color: rgb(8, 117, 117);
    text-align: center;
    color: aliceblue;
}
section{
    background-color: white;
    color: black;
    width:50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow:  0 0 10px black;
}

input{
    width: 30%;
    display: block;
    margin: 10px auto;
}
#ires{
    width: 30%;

}